<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AngularJS filters</title>
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/NG12.js"></script>
<link href="css/AngularJS.css" rel="stylesheet" />
</head>
<body ng-app="AngularJS12Module">

	<h1>Search filter in AngularJS</h1>
	<div ng-controller="getAllEmployees">
		<br /> <br />  Search: <input type="text"
			placeholder="Search an employees" ng-model="searchText" /> <br />
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Date Of Birth</th>
					<th>Gender</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | filter:searchText">
					<td>{{employee.fname | uppercase}}</td>
					<td>{{employee.dob | date:MM:dd:yyyy}}</td>
					<td>{{employee.gender | lowercase}}</td>
					<td>{{employee.salary | number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>